/* CONTENIDO Y REGLAS */ 

.reglas {
    max-width: 1200px;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
    .reglas__div-jug-y-dts {
        max-width: 100%;        
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        margin-top: 150px; 
        margin-bottom: 50px;       
        .reglas__div-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .reglas__titulo-jugadores {
                font-family: $fuente-titulo;
                font-size: 22pt;
                color: $amarillo;  
                margin: 0; 
                text-shadow: 2px 2px black;
            }            
            .reglas__parrafo-jugadores {
                width: 90%;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: 16pt;
                justify-self: center;    
                text-align: justify;
                text-shadow: 2px 2px black;
            }            
        }
        .reglas__img-jug-y-dts {
            justify-self: center;
            align-items: center;            
        }
    }
    .reglas__span {               
        border-bottom: solid 2px $white;
        width: 80%;
        margin: auto;
        padding: 15px 0;
        opacity: 0.7;        
    }
    .reglas__div-equipos {
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        margin-top: 50px;
        margin-bottom: 50px;
        
        .reglas__div-texto {
            display: flex;
            flex-direction: column;            
            .reglas__titulo-equipos {
                font-family: $fuente-titulo;
                font-size: 22pt;
                color: $amarillo;  
                margin: 0; 
                text-align: center;
                text-shadow: 2px 2px black;
            } 
            .reglas__parrafo-equipos {
                width: 100%;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: 16pt;
                justify-self: center;    
                text-align: justify; 
                text-shadow: 2px 2px black;
            }     
        } 
        .reglas__img-equipos {
            max-width: 1200px;                    
        }
    } 
    .reglas__div-modificadoras {
        max-width: 1200px;        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin-bottom: 50px;
        .reglas__div-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .reglas__titulo-modificadoras {
                font-family: $fuente-titulo;
                font-size: 22pt;
                color: $amarillo;  
                margin: 0; 
                text-align: center;
                text-shadow: 2px 2px black;
            } 
            .reglas__parrafo-modificadoras {
                max-width: 1200px;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: 16pt;
                justify-self: center;    
                text-align: justify; 
                text-shadow: 2px 2px black;
            }     
        } 
        .reglas__img-equipos {
            max-width: 1200px;                    
        }
    }   
}
