.section-form {
    width: 1200px;
    padding-top: 150px;
    margin: auto;    
    .form {
        width: 50%;
        height: auto;
        background: $white;
        margin: auto;
        border-radius: 15px;        
        .form__div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form__titulo {
                font-family: $fuente-titulo;
                font-size: 22pt;
                color: $blue;  
                margin: 0; 
                padding: 30px 0;                
                text-align: center;
            }
            .form__div-nombre {
                width: 70%;
                padding-bottom: 35px;
            }
            .form__div-email {
                width: 70%;
                padding-bottom: 35px;
            }    
            .form__div-asunto {
                width: 70%;
                padding-bottom: 35px;
            }
            .form__div-textarea {
                width: 70%;
                padding-bottom: 25px;
                font-family: $fuente-parrafo;
                font-size: 12pt;
            }
           
            input:focus~.form__barra::before, textarea:focus~.form__barra::before {
                width: 100%;
            }

            .form__barra {
                position: relative;
                display: block;
                width: 100%;
            }

            .form__barra::before {
                content: '';
                height: 2px;
                width: 0;
                bottom: 0;
                position: absolute;
                background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
                transition: 0.3s ease all;
                left: 0;
            }

            .form__label {
                font-family: $fuente-parrafo;
                color: $green;  
                position: relative;
                top: -4vh;  
                left: 1vh;  
                transition: 0.5s ease all;  
                pointer-events: none;          
            }
            input, textarea {
                background: none;
                color: black;
                font-size: 12pt;
                padding: 15px 0px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid $light-blue;
                resize: none;
            }
            input:focus, textarea {
                outline: none;
                color: $light-blue;
            }
            input:focus~label, input:valid~label {
                position: relative;
                top: -7vh;
                left: 1vh;
                font-size: 12pt;
                color: $green;
            }
            textarea:focus~label, textarea:valid~label {
                position: relative;
                top: -16vh;
                left: 1vh;
                font-size: 12pt;
                color: $green;
            }
            .form__button {
                display: block;
                width: 25%;
                height: 50px;
                margin: 10px 0 35px 0;
                border: none;
                color: black;
                background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
                font-family: $fuente-titulo;
                font-size: 12pt;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

