/* CONTENIDO Y REGLAS */ 

.sinopsis {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;       
    .sinopsis__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 150px;    
        border-bottom: solid 1px $amarillo;     
        padding-bottom: 50px;
        .sinopsis__titulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-titulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .sinopsis__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;             
        }
    }
}  

.comienzo {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;        
    .comienzo__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;   
        border-bottom: solid 1px $amarillo;                
        .comienzo__titulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-titulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .comienzo__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;  
        }
    }
}  

.tipos-de-cartas {
    max-width: 1200px;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    .tipos-de-cartas__titulo {
        font-family: $fuente-titulo;
        font-size: $tamaño-titulo;
        color: $amarillo;  
        margin: auto; 
        text-shadow: 2px 2px black;         
    } 
    .tipos-de-cartas__div-jug-y-dts {
        max-width: 100%;        
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        margin-top: 50px; 
        margin-bottom: 50px;       
        .tipos-de-cartas__div-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .tipos-de-cartas__subtitulo-jugadores {
                font-family: $fuente-titulo;
                font-size: $tamaño-subtitulo;
                color: $amarillo;  
                margin: 0; 
                text-shadow: 2px 2px black;
            }            
            .tipos-de-cartas__parrafo-jugadores {
                width: 90%;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: $tamaño-parrafo;
                justify-self: center;    
                text-align: justify;
                text-shadow: 2px 2px black;
            }            
        }
        .tipos-de-cartas__img-jug-y-dts {
            justify-self: center;
            align-items: center;            
        }
    }
    .tipos-de-cartas__span {               
        border-bottom: solid 2px $white;
        width: 80%;
        margin: auto;
        padding: 15px 0;
        opacity: 0.7;        
    }
    .tipos-de-cartas__div-equipos {
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        margin-top: 50px;
        margin-bottom: 50px;
        
        .tipos-de-cartas__div-texto {
            display: flex;
            flex-direction: column;            
            .tipos-de-cartas__subtitulo-equipos {
                font-family: $fuente-titulo;
                font-size: $tamaño-subtitulo;
                color: $amarillo;  
                margin: 0; 
                text-align: center;
                text-shadow: 2px 2px black;
            } 
            .tipos-de-cartas__parrafo-equipos {
                width: 100%;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: $tamaño-parrafo;
                justify-self: center;    
                text-align: justify; 
                text-shadow: 2px 2px black;
            }     
        } 
        .tipos-de-cartas__img-equipos {
            max-width: 1200px;                    
        }
    } 

    .tipos-de-cartas__div-modificadoras {
        max-width: 1200px;        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin-bottom: 50px;
        margin-top: 50px;
        border-bottom: solid 1px $amarillo;     
        padding-bottom: 50px;  
        .tipos-de-cartas__div-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .tipos-de-cartas__subtitulo-modificadoras {
                font-family: $fuente-titulo;
                font-size: $tamaño-subtitulo;
                color: $amarillo;  
                margin: 0; 
                text-align: center;
                text-shadow: 2px 2px black;
            } 
            .tipos-de-cartas__parrafo-modificadoras {
                max-width: 1200px;
                font-family: $fuente-parrafo;
                color: $white;                
                line-height: 150%;
                font-size: $tamaño-parrafo;
                justify-self: center;    
                text-align: justify; 
                text-shadow: 2px 2px black;
            }     
        } 
        .tipos-de-cartas__img-modificadoras {
            max-width: 1200px;                    
        }
    }   
}

.partido {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;        
    .partido__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;   
        border-bottom: solid 1px $amarillo;     
        padding-bottom: 50px;     
        .partido__titulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-titulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .partido__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;  
        }
    }
}  

.campeonato {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;        
    .campeonato__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;   
        border-bottom: solid 1px $amarillo;     
        padding-bottom: 50px;     
        .campeonato__titulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-titulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .campeonato__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;  
        }
    }
}  

.ganador {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;        
    .ganador__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;               
        padding-bottom: 50px;     
        .ganador__titulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-titulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .ganador__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;  
        }
    }
}  

.contenido {
    max-width: 1200px;
    display: flex;  
    flex-direction: column;  
    padding: 30px 0;     
    .contenido__titulo {
        font-family: $fuente-titulo;
        font-size: $tamaño-titulo;
        color: $amarillo;  
        margin: auto; 
        text-shadow: 2px 2px black; 
    }   
    .contenido__div-total {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;                      
        padding-bottom: 15px;     
        .contenido__div-total-subtitulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-subtitulo;
            color: $amarillo;              
            text-shadow: 2px 2px black;            
        }
        .contenido__div-total-lista {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;                
            
        }
    }
    .contenido__subtitulo {
        font-family: $fuente-titulo;
        font-size: $tamaño-subtitulo;
        color: $amarillo;  
        margin: auto; 
        text-shadow: 2px 2px black;  
    }
    .contenido__div-cartas {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;               
        padding-bottom: 50px;  
        .contenido__div-modificadoras-subtitulo {
            font-family: $fuente-titulo;
            font-size: $tamaño-subtitulo;
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;  
        }  
        .contenido__div-modificadoras-lista {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: $tamaño-parrafo;
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;
        }
    }
}  