/* VARIABLES FUENTES */


$fuente-titulo: 'Pridi', serif;
$fuente-parrafo: 'Open Sans', sans-serif, justify;
$tamaño-subtitulo: calc(0.8rem + 1vw);
$tamaño-titulo: calc(1rem + 1vw);
$tamaño-parrafo: calc(0.3rem + 0.8vw);
$tamaño-parrafo-mobile: calc(0.8rem + 0.8vw);
$tamaño-subtitulo-mobile: calc(1rem + 1vw);
$tamaño-titulo-mobile: calc(1.3rem + 1vw);