.galeria {
    width: 1200px;
    height: 50vh;
    padding-top: 15vh;
    margin: auto;
    .galeria__div-titulo {
        width: 100%;
        .galeria__titulo {
            font-family: $fuente-titulo;
            font-size: 22pt;
            color: $amarillo;  
            margin: 0; 
            text-align: center;
        }
    }
    .galeria__div-imagenes {
        margin: auto;        
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: auto;
        justify-items: center; 
        .galeria__img {
            width: 350px;
            height: 300px;
            border: solid black 2px;
            border-radius: 10px;
        } 
        .galeria__img:hover {        
            animation-name: jugadores;    
            animation-duration: 2s;                   
        }       
        @keyframes jugadores {
            to {
                transform: translate(60px, 0) rotate(-5deg) scale(1.2, 1.2);
            }
            from {
                position: initial;   
            }
        }
    }
}