
.main-video {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 25px;           
    .main-video__video {
        margin: auto;
        max-width: 100%;                       
    }    
}
.introduccion {
    max-width: 1200px;
    display: flex;    
    padding: 30px 0;
    .introduccion__div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .introduccion__titulo {
            font-family: $fuente-titulo;
            font-size: calc(1.5rem + 1vw);
            color: $amarillo;  
            margin: auto; 
            text-shadow: 2px 2px black;            
        }
        .introduccion__parrafo {
            width: 100%;
            font-family: $fuente-parrafo;
            color: $white;                
            line-height: 150%;
            font-size: calc(0.3rem + 0.8vw);
            justify-self: center;    
            text-align: justify; 
            text-shadow: 2px 2px black;  
        }
    }
}  

