
@import 'colores';
@import 'fuentes';
@import 'index';
@import 'contenido-y-reglas';
@import 'historia';
@import 'imagenes';
@import 'contacto';
@import 'queries';

/* VARIABLES */ 

$borde-blanco: solid 1px $white;


/* GENERAL */ 

a {
    text-decoration: none;
}
body {
    margin: auto; 
    box-sizing: border-box;         
    background-image: url('../fondito_web.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; 
    background-position: center;
}

.contenedor {
    max-width: 1200px; 
    margin: 0 auto;
}



/* HEADER */

.header {
    margin-top: 0; 
    margin-left: 0; 
    width: 100%; 
    height: 100px; 
    z-index: 2; 
    position: fixed; 
    background: $green;     
    opacity: 0.9;

    .header__nav {
        padding: 15px 20px; 
        display: flex; 
        flex-direction: row;

        .header__div-logo {
            max-width: 30%; 
            max-height: 70px; 
            display: flex; 
            flex-direction: row; 
            animation-name: fulbo; 
            -webkit-animation-name: fulbo; 
            -webkit-animation-duration: 1.5s; 
            animation-duration: 1.5s;    
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both;

            @-webkit-keyframes fulbo {
                from {
                    opacity: 0; 
                    -webkit-transform: translate3d(-2000px, 0, 0);
                    transform: translate3d(-2000px, 0, 0);} 
                to {
                    opacity: 1; 
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);} }
            
            @keyframes fulbo {
                from {
                    opacity: 0; 
                    -webkit-transform: translate3d(-2000px, 0, 0);
                    transform: translate3d(-2000px, 0, 0);} 
                to {
                    opacity: 1; 
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);} }

            .header__enlace {
                text-decoration: none;
            }
            .header__logo {
                max-width: 320px;
            }
        }    
        .header__div-barraNav {
            margin: auto; 
            width: 70%; 
            max-height: 70px;

            .header__barraNav{
                margin: 0; 
                list-style: none; 
                max-height: 70px; 
                display: flex; 
                flex-direction: row;
                justify-content: space-evenly; 
                align-content: center; 
                align-items: center;

                .header__linkNav {
                    font-family: $fuente-titulo;                    
                    text-transform: capitalize; 
                    color: $amarillo; 
                    font-size: 16pt;
                    opacity: 1;
                }
                .header__linkNav:hover {
                    color: $rojo; 
                    font-size: 200%; 
                    font-weight: 400;
                }
                .header__linkNav--linkActivo {
                    color: $rojo; 
                    font-size: 200%; 
                    font-weight: 400;
                }
            }
        }        
    }
}

/* FOOTER */

.footer {
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;     
    background: linear-gradient(to bottom, #061700, #165C21);
    .footer__div-enlaces {
        width: 100%;        
        display: grid;
        grid-template-areas: 
            "fulbo            creador"        
            "diseño           diseño";
        grid-template-columns: 50% 50%; 
        grid-template-rows: 70% 30%; 
        .footer__fulbo {
            grid-area: fulbo;
            width: 100%;       
            display: grid;
            grid-template-rows: 0.5fr 0.5fr 0.5fr; 
            justify-content: center;
            padding-left: 20px;
            .footer__titulo {
                font-family: $fuente-titulo;
                font-size: 18pt;
                border-bottom: $borde-blanco;
                color: $amarillo;
                text-align: center;
            }
            .footer__insta, .footer__email, .footer__face {
                font-family: $fuente-parrafo;
                font-size: 14pt;
                color: $white;
            }
            .footer__icono {
                font-size: 16pt;
            }
        }
        .footer__creador {
            grid-area: creador;
            width: 100%;
            display: grid;
            grid-template-rows: max-content;
            justify-content: center;
            .footer__titulo {
                font-family: $fuente-titulo;
                font-size: 18pt;
                border-bottom: $borde-blanco;
                color: $amarillo;
                text-align: center;
            }
            .footer__behance {
                font-family: $fuente-parrafo;
                font-size: 14pt;
                color: $white;
            }
            .footer__icono {
                font-size: 16pt;
            }
        }
        .footer__diseño {
            grid-area: diseño;
            padding-left: 20px; 
            .footer__titulo {
                font-family: $fuente-titulo;
                font-size: 18pt;
                border-bottom: $borde-blanco;
                color: $amarillo;
                text-align: center;                
            }
            .footer__titulo--diseño {
                font-size: 14pt;
                border-bottom: none;
            }
            .footer__icono {
                font-size: 16pt;
            }
        }
    }
}







